<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Shopping List App</title>
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<div id="shopping-list">
		<div class="header">
			<h1>{{header || 'Welcome'}}</h1>
			<button v-if="editing" @click="doEditing(false)" class="btn btn-cancel">Cancel</button>
			<button v-else @click="doEditing(true)" class="btn btn-primary">Add</button>
		</div>

		<div v-if="editing" class="add-item-form">
			<input @keyup.enter="saveItem" v-model="newItem" type="text" placeholder="Add an item">
			<label>
				<input type="checkbox" v-model="newItemHighPriority">
				High priority
			</label>
			<button :disabled="newItem.length < 5" @click="saveItem" class="btn btn-primary">
				Save Item
			</button>
		</div>

		<a v-bind:href="newItem">Dynamic link</a>
		<p v-if="items.length === 0">Nice job, you bought all items.</p>

		<ul>
			<li 
			v-for="item in items" 
			:key="item.id" 
			:class='{strikeout: item.purchased, priority: item.highPriority}'
			@click="togglePurchase(item)"
			class="static-class">{{item.label}}</li>
		</ul>
	</div>



	<script src="https://unpkg.com/vue@3"></script>
	<script>
		const shoppingList = Vue.createApp({
			data() {
				return {
					header: 'Shopping List App!',
					editing: false,
					newItemHighPriority: false,
					newItem: '',
					items: [
						{ id: 1, label: "10 hats", purchased: true, highPriority: false },
						{ id: 2, label: "2 pairs crocks", purchased: false, highPriority: true },
						{ id: 3, label: "20 cups", purchased: true, highPriority: true },
					]
				}
			},
			methods: {
				saveItem() {
					this.items.push({ 
						id: this.items.length + 1, 
						label: this.newItem ,
						highPriority: this.newItemHighPriority,
					})
					this.newItem = '';
					this.newItemHighPriority = '';
				},
				doEditing(editing) {
					this.editing = editing;
					this.newItem = '';
					this.newItemHighPriority = '';
				},
				togglePurchase(item) {
					item.purchased = !item.purchased;
				},
			}
		}).mount('#shopping-list')
	</script>
</body>

</html>